<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
        integrity="sha512-XJ3ntWHl40opEiE+6dGhfK9NAKOCELrpjiBRQKtu6uJf9Pli8XY+Hikp7rlFzY4ElLSFtzjx9GGgHql7PLSeog=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--    owl-carousel-css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--    animate-css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
        type="text/css">
    <!--    custom-font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--    custom-css-->
    <link rel="stylesheet" href="css/details_style.css" type="text/css">

    <title>Jibika-Details</title>
</head>

<body>

    <section class="details-wrap py-md-5 py-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-8 pr-lg-3 pr-md-0">
                    <div class="outer mb-md-4 mb-3">
                        <div class="details-heading-box mb-3">
                            <h5>Buy Commercial Fitness Equipment at Best Price Rate</h5>
                            <p>Posted by Grand Slam Fitness Pvt. Ltd. on 01/04/2020</p>
                            <h4>Rs 35,00,000</h4>
                        </div>
                        <div id="big" class="owl-carousel owl-theme">
                            <div class="item">
                                <img class="details-img" src="images/list-grid-1.webp" alt="">
                            </div>
                            <div class="item">
                                <img class="details-img" src="images/list-grid-2.webp" alt="">
                            </div>
                            <div class="item">
                                <img class="details-img" src="images/list-grid-3.webp" alt="">
                            </div>
                            <div class=" item">
                                <img class="details-img" src="images/list-grid-4.webp" alt="">
                            </div>
                        </div>
                        <div id="thumbs" class="owl-carousel owl-theme">
                            <div class="item">
                                <img class="details-img" src="images/list-grid-1.webp" alt="">
                            </div>
                            <div class="item">
                                <img class="details-img" src="images/list-grid-2.webp" alt="">
                            </div>
                            <div class="item">
                                <img class="details-img" src="images/list-grid-3.webp" alt="">
                            </div>
                            <div class="item">
                                <img class="details-img" src="images/list-grid-4.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 pl-lg-0">
                    <div class="couter details-right-top">
                        <div id="msg-btn-div" class="listing-category details-sidebar text-center">
                            <h5>Contact the Advertiser</h5>
                            <!-- <p>Don't forget to mention Vivastreet when you get in touch!</p> -->

                            <a href="#" id="actual-no" class="listing-category-heading-btn btn-no-1 my-3">(+91)
                                1234567890</a>
                            <a href="#" id="show-no" class="listing-category-heading-btn btn-no-1 my-3">See phone
                                number</a>
                            <a href="#" id="open-form-disable" class="listing-category-heading-btn btn-no-2 my-3">Send a
                                Message</a>
                            <!-- <a href="#" id="open-form-btn" class="listing-category-heading-btn btn-no-2 my-3">Send a
                                Message</a> -->
                            <hr>
                            <a href="#" id="show-reporting-div" class="listing-category-heading-btn2 btn-no-3">Report
                                this
                                Ad</a>
                        </div>

                        <div id="msg-form" class="msg-form-modal">
                            <div class="rehomes-search-form-area">
                                <div class="rehomes-search-form">
                                    <form>
                                        <div class="row justify-content-center">
                                            <div class="col-12">
                                                <span class="form-heading">Send a message</span>
                                                <a href="#"><i id="close-form" class="fa fa-times float-right"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group form-new">
                                                    <input type="text" id="name" class="form-control" required="">
                                                    <label class="form-control-placeholder" for="name">Email
                                                        Address</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group form-new">
                                                    <input type="text" id="name" class="form-control" required="">
                                                    <label class="form-control-placeholder" for="name">Phone
                                                        Number</label>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group form-new">
                                                    <textarea class="form-control form-new-msg"
                                                        id="exampleFormControlTextarea1" rows="4" placeholder="Message"
                                                        style="resize: none;"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group form-new">
                                                    <input type="file" class="form-control-file"
                                                        id="exampleFormControlFile1">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row recaptcha-grid">
                                                    <div class="col-sm-8 col-8 my-auto">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1">I'm not
                                                                not
                                                                a robot</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 col-4 px-0 text-center">
                                                        <img class="recaptcha-img"
                                                            src="images/1200px-RecaptchaLogo.svg.png">
                                                        <a class="recaptcha-texts" href="#">Privacy</a>
                                                        <a class="recaptcha-texts" href="#">Terms</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row justify-content-center text-center mt-2">
                                                    <div class="col-sm-12 col-10 px-0">
                                                        <button type="submit"
                                                            class="btn btn-primary listing-category-heading-btn w-100">Send
                                                            message</button>
                                                    </div>
                                                    <div class="col-sm-12 col-10 pt-sm-0 mt-2">
                                                        <span class="register-form-anchor">By sending this message, you
                                                            agree to Vivastreet's terms and conditions.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="reporting-div" class="anything-wrong listing-category details-sidebar">
                            <span class="text-left">Anything Wrong ?</span>
                            <a href="#"><i id="close-flagged-form" class="fa fa-times float-right"
                                    aria-hidden="true"></i></a>
                            <p>You must be logged in to report this ad</p>
                            <a href="#" class="listing-category-heading-btn2">Log In</a>
                        </div>
                    </div>
                    <div class="similar-ads-section mt-4">
                        <div class="text-center mb-3">
                            <h5>Similar Ads</h5>
                        </div>
                        <div class="case-small">
                            <div class="media">
                                <div class="small-img">
                                    <img class="align-self-start mr-2" src="images/small-ad1.webp" alt="case-img">
                                </div>
                                <div class="media-body details-small-text">
                                    <a href="#">True Religion Light...</a>
                                    <p><small>Delhi</small></p>
                                    <p>Rs 1450</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="case-small">
                            <div class="media">
                                <div class="small-img">
                                    <img class="align-self-start mr-2" src="images/small-ad2.webp" alt="case-img">
                                </div>
                                <div class="media-body details-small-text">
                                    <a href="#">True Religion Light...</a>
                                    <p><small>Delhi</small></p>
                                    <p>Rs 1450</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="case-small">
                            <div class="media">
                                <div class="small-img">
                                    <img class="align-self-start mr-2" src="images/small-ad3.webp" alt="case-img">
                                </div>
                                <div class="media-body details-small-text">
                                    <a href="#">True Religion Light...</a>
                                    <p><small>Delhi</small></p>
                                    <p>Rs 1450</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="col-12">
                    <div class="outer mb-md-4 mb-3">
                        <div class="details-description-wrap">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-5">
                                            <h6 class="details-name">Price</h6>
                                        </div>
                                        <div class="col-7">
                                            <p class="details-value-color">Rs 35,00,000</p>
                                        </div>
                                        <div class="col-5">
                                            <h6 class="details-name">Location</h6>
                                        </div>
                                        <div class="col-7">
                                            <p class="details-value">Coimbatore, Tamil Nadu</p>
                                        </div>
                                        <div class="col-5">
                                            <h6 class="details-name">Type of ad</h6>
                                        </div>
                                        <div class="col-7">
                                            <p class="details-value">Professional Offer</p>
                                        </div>
                                        <div class="col-5">
                                            <h6 class="details-name">Size</h6>
                                        </div>
                                        <div class="col-7">
                                            <p class="details-value">30,32,34,36</p>
                                        </div>
                                        <div class="col-5">
                                            <h6 class="details-name">Make or Brand</h6>
                                        </div>
                                        <div class="col-7">
                                            <p class="details-value">SETA</p>
                                        </div>
                                        <div class="col-md-12 pt-3">
                                            <h6 class="details-name">Description</h6>
                                        </div>
                                        <div class="col-md-12 pb-3">
                                            <p class="details-value">Punch up your wardrobe with a semi-formal chino
                                                trousers from the house of Seta. Style this outfit with a button-down
                                                shirt and a fashionable tie.</p>
                                        </div>
                                        <div class="col-md-12 details-text-bottom py-1">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <p><b>Ad ID</b> 208189084</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p><b>Member since</b> 22/11/2019</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p><b>Visitors</b> 003
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center mb-md-4 mb-3">
                    <div class="listing-related-wrap">
                        <h5 class="pb-2">Didn't find what you were looking for?</h5>
                        <a href="#" class="details-back-anchor"><i class="fa fa-angle-double-left" aria-hidden="true">
                            </i>
                            Back to Results</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="listing-related-wrap">
                        <h5 class="tags-details">Tags:</h5>
                        <ul>
                            <li><a href="#">Shirt</a></li>
                            <li><a href="#">Fashion and Beauty Tamilnadu</a></li>
                            <li><a href="#">Fashion and Beauty Coimbatore</a></li>
                            <li><a href="#">Clothes and Accessories Tamilnadu</a></li>
                            <li><a href="#">Clothes and Accessories Coimbatore</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>











    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--    jquery-script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--    bootstrap-script-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!--    owl-carousel-script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            var bigimage = $("#big");
            var thumbs = $("#thumbs");
            //var totalslides = 10;
            var syncedSecondary = true;

            bigimage
                .owlCarousel({
                    items: 1,
                    slideSpeed: 2000,
                    nav: true,
                    autoplay: true,
                    dots: false,
                    loop: true,
                    responsiveRefreshRate: 200,
                    navText: [
                        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
                    ]
                })
                .on("changed.owl.carousel", syncPosition);

            thumbs
                .on("initialized.owl.carousel", function () {
                    thumbs
                        .find(".owl-item")
                        .eq(0)
                        .addClass("current");
                })
                .owlCarousel({
                    items: 5,
                    dots: true,
                    nav: false,
                    navText: [
                        '<i class="fa fa-arrow-left" aria-hidden="true"></i>',
                        '<i class="fa fa-arrow-right" aria-hidden="true"></i>'
                    ],
                    smartSpeed: 200,
                    slideSpeed: 500,
                    slideBy: 4,
                    responsiveRefreshRate: 100
                })
                .on("changed.owl.carousel", syncPosition2);

            function syncPosition(el) {
                //if loop is set to false, then you have to uncomment the next line
                //var current = el.item.index;

                //to disable loop, comment this block
                var count = el.item.count - 1;
                var current = Math.round(el.item.index - el.item.count / 2 - 0.5);

                if (current < 0) {
                    current = count;
                }
                if (current > count) {
                    current = 0;
                }
                //to this
                thumbs
                    .find(".owl-item")
                    .removeClass("current")
                    .eq(current)
                    .addClass("current");
                var onscreen = thumbs.find(".owl-item.active").length - 1;
                var start = thumbs
                    .find(".owl-item.active")
                    .first()
                    .index();
                var end = thumbs
                    .find(".owl-item.active")
                    .last()
                    .index();

                if (current > end) {
                    thumbs.data("owl.carousel").to(current, 100, true);
                }
                if (current < start) {
                    thumbs.data("owl.carousel").to(current - onscreen, 100, true);
                }
            }

            function syncPosition2(el) {
                if (syncedSecondary) {
                    var number = el.item.index;
                    bigimage.data("owl.carousel").to(number, 100, true);
                }
            }

            thumbs.on("click", ".owl-item", function (e) {
                e.preventDefault();
                var number = $(this).index();
                bigimage.data("owl.carousel").to(number, 300, true);
            });
        });

    </script>





    <script type="text/javascript">
        $(document).ready(function () {

            $("#open-form-btn").on('click', function () {
                $("#msg-btn-div").hide();
                $("#msg-form").show();
            });
            $("#close-form").on('click', function () {
                $("#msg-btn-div").show();
                $("#msg-form").hide();
            });
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#show-reporting-div").on('click', function () {
                $("#msg-btn-div").hide();
                $("#reporting-div").show();
            });
            $("#close-flagged-form").on('click', function () {
                $("#msg-btn-div").show();
                $("#reporting-div").hide();
            });
        });

    </script>

    <script type="text/javascript">
        document.getElementById("show-no").onclick = function () {

            document.getElementById("show-no").style.display = "none";
            document.getElementById("actual-no").style.display = "block";

        }

    </script>
</body>

</html>